


@{
    ViewBag.Title = "Hotels";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<html>
<head>

</head>
<body style="background-color:black;">
    <div class"content">
        <div class="wrap">
            <div class="wrapper">
                <div class="con-bot" style="margin-top:8%;">
                    <div class="left">
                        <div class="bot-left">
                            <img src="~/web/images/Oteller/Roma.jpg" alt="" />
                        </div>
                        <div class="left-text">
                            <h4>Roma HİLTON HOTEL</h4>
                            <span class="doller" style="color:white;">€88,99/Day</span>
                            <p style="color:white;">Şehir merkezine yakın ve ulaşım olarak güzel konumda 10 üzerinden puanım 8</p>
                        </div>
                    </div>
                    <div class="left">
                        <div class="bot-left">
                            <img src="~/web/images/Oteller/Paris.jpg" alt="" />
                        </div>
                        <div class="left-text">
                            <h4>Paris HİLTON HOTEL</h4>
                            <span style="color:white;" class="doller">€61,99/Day</span>
                            <p style="color:white;">Şehir merkezine yakın ama ulaşım konusunda pek iyi değil 10 üzerinden puanım 5</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="bot-left">
                            <img src="~/web/images/Oteller/lyon.jpg" alt="" />
                        </div>
                        <div class="left-text">

                            <h4>Lyon HİLTON HOTEL</h4>
                            <span style="color:white;" class="doller">€99,99/Day</span>
                            <p style="color:white;">Şehir merkezine uzak ama ulaşım konusunda iyi 10 üzerinden puanım 7</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="con-bot">
                    <div class="left">
                        <div class="bot-left">
                            <img src="~/web/images/Oteller/Belçika.jpg" alt="" />
                        </div>
                        <div class="left-text">
                            <h4>Belçika HİLTON HOTEL</h4>
                            <span style="color:white;" class="doller">€59,99/Day</span>
                            <p style="color:white;">Şehir merkezine yakın, ulaşım olarakta güzel,fiyat performans 10 üzerinden puanım 8</p>
                        </div>
                    </div>
                    <div class="left">
                        <div class="bot-left">
                            <img src="~/web/images/Oteller/Brüksel.jpg" alt="" />
                        </div>
                        <div class="left-text">
                            <h4>Brüksel HİLTON HOTEL</h4>
                            <span style="color:white;" class="doller">€89,99/Day</span>
                            <p style="color:white;">Yemekleri çok lezzetliydi gerçekten tekrar gelirsem ilk tercih edeceğim yer, 10 üzerinden puanım 8</p>
                        </div>
                    </div>
                    <div class="right">
                        <div class="bot-left">
                            <img src="~/web/images/Oteller/Mardin.jpg" alt="" />
                        </div>
                        <div class="left-text">

                            <h4>Mardin HALODAYI HOTEL</h4>
                            <span style="color:white;" class="doller">€39,99/Day</span>
                            <p style="color:white;">Mezopotamya ayaklarının altında resmen muhteşem, yemekler ve hizmete bayıldım 10 üzerinden puan 11</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                </div>
            </div>
        </div>
</body>
</html>

