
@{
    Layout = null;
}


<!DOCTYPE HTML>
<html>
<head>
    <title>MVC5 Seyehat Sitesi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/web/css/slider.css" rel="stylesheet" type="text/css" media="all" />
    <script src="~/web/js/jquery.min.js"></script>
    <script src="~/web/js/responsiveslides.min.js"></script>

    <script>
        $(function () {
            $("#slider1").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
            });
        });
    </script>
</head>
<body>

    <div class="header">
        <div class="wrap">
            <div class="logo"><a href="/Login/Login/"><img src="~/web/images/Gezgin2.png" alt="" /></a></div>
            <div class="con-right">
                <div class="grid1-l-img">
                    <img src="~/web/images/contact.png" alt="">
                </div>
                <div class="grid1-l-desc">
                    <p>Numara: +90 501 276 47 47</p>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

    <div class="header-bottom">
        <div class="wrap">
            <ul id="nav">
                <li><a href="/Ana/Index/">Ana Sayfa</a></li>
                <li><a class="hsubs" href="/About/Index/">Hakkımızda</a></li>
                <li>
                    <a class="hsubs" href="#">Gezi Rehberi</a>
                    <ul class="subs">
                        <li><a href="/Directory/Hotels/">Oteller</a></li>
                        <li><a href="/Directory/Restaurants/">Restorantlar</a></li>
                        <li><a href="/Directory/Museums/">Müzeler</a></li>
                    </ul>
                </li>
                <li><a class="hsubs" href="/Blog/Index">Blogum</a></li>
                <li><a href="/Contact/Index/">İletişim</a></li>
            </ul>
        </div>
    </div>
    
    <div class"content">
        @RenderBody()
    </div>

    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                <p>TRAVEL SEYEHAT SİTESİ || 2022</p>
            </div>
        </div>
    </div>

</body>
</html>

